Repository Win-ther/SpringbootGroupProject, pull requests merged in 2024-04, with the labels that each got.

#61 Add functionality for changing image.
  src/main/java/se/iths/springbootgroupproject/controllers/WebController.java
  src/main/java/se/iths/springbootgroupproject/dto/EditUserFormData.java
  src/main/resources/lang/messages.properties
  src/main/resources/lang/messages_sv.properties
  src/main/resources/static/styles.css
  src/main/resources/templates/edituser.html
Labels: enhancement, project criteria

#60 59 messaging function
  pom.xml
  src/main/java/se/iths/springbootgroupproject/configurations/SecurityConfig.java
  src/main/java/se/iths/springbootgroupproject/controllers/WebController.java
  src/main/java/se/iths/springbootgroupproject/dto/CreateMessageFormData.java
  src/main/java/se/iths/springbootgroupproject/services/MessageService.java
  src/main/resources/lang/messages.properties
  src/main/resources/lang/messages_sv.properties
  src/main/resources/static/styles.css
  src/main/resources/templates/createmessage.html
  src/main/resources/templates/userprofile.html
Labels: enhancement, project criteria

#63 Bug crasch on unique username change
  src/main/java/se/iths/springbootgroupproject/controllers/WebController.java
  src/main/java/se/iths/springbootgroupproject/services/UserService.java
Labels: bug

#73 62 edit your own messages from myprofile
  .jpb/jpb-settings.xml
  src/main/java/se/iths/springbootgroupproject/configurations/SecurityConfig.java
  src/main/java/se/iths/springbootgroupproject/controllers/WebController.java
  src/main/java/se/iths/springbootgroupproject/dto/MessageAndUsername.java
  src/main/java/se/iths/springbootgroupproject/entities/Message.java
  src/main/java/se/iths/springbootgroupproject/repositories/MessageRepository.java
  src/main/java/se/iths/springbootgroupproject/services/MessageService.java
  src/main/resources/db/migration/V3__.sql
  src/main/resources/lang/messages.properties
  src/main/resources/lang/messages_sv.properties
  src/main/resources/static/styles.css
  src/main/resources/templates/editmessage.html
  src/main/resources/templates/messages.html
  src/main/resources/templates/userprofile.html
  src/main/resources/templates/welcome.html
Labels: enhancement, project criteria

#72 Add /api/** to SecurityFilterChain requestmatcher for PermitAll
  src/main/java/se/iths/springbootgroupproject/configurations/SecurityConfig.java
Labels: bug

#82 Refactor editMessage to check if the current user is the same user that created the message
  src/main/java/se/iths/springbootgroupproject/controllers/WebController.java
Labels: enhancement, critical bug

#74 68 add entities tests
  src/test/java/se/iths/springbootgroupproject/entities/MessageTest.java
  src/test/java/se/iths/springbootgroupproject/entities/UserTest.java
Labels: test

#77 69 add repositories tests
  src/main/java/se/iths/springbootgroupproject/SpringbootGroupProjectApplication.java
  src/main/java/se/iths/springbootgroupproject/repositories/UserRepository.java
  src/main/java/se/iths/springbootgroupproject/services/UserService.java
  src/test/java/se/iths/springbootgroupproject/repositories/MessageRepositoryTest.java
  src/test/java/se/iths/springbootgroupproject/repositories/UserRepositoryTest.java
Labels: test

#79 9 translation of messages using external api
  compose.yaml
  pom.xml
  src/main/java/se/iths/springbootgroupproject/configurations/SecurityConfig.java
  src/main/java/se/iths/springbootgroupproject/controllers/WebController.java
  src/main/java/se/iths/springbootgroupproject/services/LibreTranslateService.java
  src/main/resources/lang/messages.properties
  src/main/resources/lang/messages_sv.properties
  src/main/resources/static/styles.css
  src/main/resources/templates/messages.html
  src/main/resources/templates/translatemessage.html
Labels: enhancement, project criteria

#83 66 add controllers tests
  .jpb/jpb-settings.xml
  pom.xml
  src/main/java/se/iths/springbootgroupproject/SpringbootGroupProjectApplication.java
  src/main/java/se/iths/springbootgroupproject/configurations/DbInitConfig.java
  src/test/java/se/iths/springbootgroupproject/controllers/GuestControllerTest.java
  src/test/java/se/iths/springbootgroupproject/controllers/WebControllerTest.java
Labels: test

#84 Refactor with LOMBOK
  src/main/java/se/iths/springbootgroupproject/dto/EditUserFormData.java
  src/main/java/se/iths/springbootgroupproject/entities/Message.java
  src/main/java/se/iths/springbootgroupproject/entities/User.java
  src/test/java/se/iths/springbootgroupproject/dto/CreateMessageFormDataTest.java
  src/test/java/se/iths/springbootgroupproject/dto/EditUserFormDataTest.java
  src/test/java/se/iths/springbootgroupproject/entities/MessageTest.java
  src/test/java/se/iths/springbootgroupproject/entities/UserTest.java
Labels: enhancement

#88 Add a way to delete messages from the edit-form.
  src/main/java/se/iths/springbootgroupproject/configurations/SecurityConfig.java
  src/main/java/se/iths/springbootgroupproject/controllers/WebController.java
  src/main/java/se/iths/springbootgroupproject/services/MessageService.java
  src/main/resources/lang/messages.properties
  src/main/resources/lang/messages_sv.properties
  src/main/resources/templates/editmessage.html
Labels: enhancement

#89 Create README.md
  README.md
Labels: documentation
